.footer-box {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #242424;
    color: #fff;
    padding: 10px;
    border-top: 0.5px solid black;
    /* width: 100%; */
}